[Unit]
Description=vpnKasa
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=node /home/ubuntu/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target