[
    {
        "alias": "TP-LINK_Smart Plug_2",
        "host": "192.168.1.2",
        "dev_name": "Smart Wi-Fi Plug Mini",
        "is_on": false
    },
    {
        "alias": "TP-LINK_Smart Plug_3",
        "host": "192.168.1.3",
        "dev_name": "Smart Wi-Fi Plug Mini",
        "is_on": false
    },
    {
        "alias": "TP-LINK_Smart Plug_4",
        "host": "192.168.1.4",
        "dev_name": "Smart Wi-Fi Plug Mini",
        "is_on": false
    },
    {
        "alias": "TP-LINK_Smart Plug_5",
        "host": "192.168.1.5",
        "dev_name": "Smart Wi-Fi Plug Mini",
        "is_on": false
    }
]